/******************************************************************************
TABLE OF CONTENTS

GENERAL STYLING                - html elements and shared styles
INFO ICON                      - Info icon and related text
HEADER ANIMATED CIRCLE         - Header decoration
HEADER H1 ELEMENT              - Heading
CIRCLES                        - Styling for circles
ELIPSES                        - Styling for elipses
SQARES AND RECTANGLES          - Styling for squares and rectangles
ROUNDED SQUARES AND RECTANGLES - Styling for rounded squares and rectangles
TRIANGLES                      - Styling for triangles


COLOUR PALETTE

silver             - background and header
lightyellow        - background for article
red                - colour for shapes
green              - colour for shapes
blue               - colour for shapes
yellow             - colour for shapes and animation
orange             - for animation
rgb(230, 230, 230) - light grey background to information panel
rgb(100, 100, 100) - darker grey text in information panel

Note: https://autoprefixer.github.io was used to add the prefixed additions in
      the code below.
******************************************************************************/



/******************************************************************************
  General styling begins
******************************************************************************/

header {
	background-color: silver;
	height: 200px;
}

body {
	background-color: silver;
}

article {
	background-color: lightyellow;
	border-radius: 15px;
	padding-bottom: 50px;
}

section {
	margin-top: 70px;
	padding-left: 10%;
}

section h2 {
	font-size: 30px;
	font-weight: bold;
}

/* this rule lines the shapes horizontally and spaces them */
.inlinebox {
  display: inline-block;
  margin-left: 100px;
}
/* General styling ends */


/******************************************************************************
 Style info icon begins
******************************************************************************/
/* This class is provided by googles material-icons */
.material-icons {
  font-size: 50px;
}

.info {
  text-align: right;
	padding-top: 30px;
  padding-right: 30px;
}

#information-text {
  position: relative;
	width: 80%;
  display: none;
	overflow: hidden;
  padding: 20px;
  text-align: justify;
  border-radius: 15px;
  background-color: rgb(230, 230, 230);
  color: rgb(100, 100, 100);
  font-size: 16px;
}

.advisory-text {
  text-align: right;
  font-style: italic;
  font-size: 12px;
}
/* Style info icon ends */


/******************************************************************************
 Header animated circle begins
******************************************************************************/
header .animated-circle {
	border-radius: 50%;
	width: 100px;
	height: 100px;
  background-image: -webkit-radial-gradient(ellipse farthest-corner at 145px 45px ,
    yellow 0%, orange 90%);
  background-image: -o-radial-gradient(ellipse farthest-corner at 145px 45px ,
    yellow 0%, orange 90%);
  background-image: radial-gradient(ellipse farthest-corner at 145px 45px ,
    yellow 0%, orange 90%);

    -webkit-animation-name: spin;

            animation-name: spin;
  	-webkit-animation-duration: 4s;
  	        animation-duration: 4s; /* 3 seconds */
  	-webkit-animation-iteration-count: infinite;
  	        animation-iteration-count: infinite;
  	-webkit-animation-timing-function: linear;
  	        animation-timing-function: linear;
}

/* Create the animation blocks */
@-webkit-keyframes spin {
	0%   { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes spin {
	0%   { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

.animated-circle.position-left {
	position: absolute;
	top: 50px;
	left: 5vw;
}

.animated-circle.position-right {
	position: absolute;
	top: 50px;
	right: 5vw;
}
/* Animated circle ends */


/******************************************************************************
 Header h1 element begins
******************************************************************************/
header h1 {
  position: absolute;
	top: 50px;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	    -ms-transform: translate(-50%, 0);
	        transform: translate(-50%, 0);
	font-size: 4vw;
	font-family: arial;
	/*border: 2px solid red;*/
}
/* Header h1 element ends */


/******************************************************************************
 Circles begins
******************************************************************************/
.red-circle {
  top: 0px;
  left: 0px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: red;
}

.green-circle {
	top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: green;
}

.blue-circle {
	top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: blue;
}
/* Circles ends */


/******************************************************************************
  Elipses begins
	Note: A similar effect is possible with padding left and right.
******************************************************************************/
.elipse {
	-webkit-transform: scale(1.5, 1);
	    -ms-transform: scale(1.5, 1);
	        transform: scale(1.5, 1);
}
/* Elipses ends */


/******************************************************************************
  Rectangles begins
******************************************************************************/
.red-rect {
  top: 0px;
  left: 0px;
  width: 100px;
  height: 100px;
  background-color: red;
}

.green-rect {
	top: 0px;
  left: 0px;
  width: 80px;
  height: 60px;
  background-color: green;
}

.blue-rect {
	top: 0px;
  left: 0px;
  width: 60px;
  height: 40px;
  background-color: blue;
}
/* Rectangles ends */


/******************************************************************************
  Rectangles with round corners begins
******************************************************************************/
.rect-round-corners {
	border-radius: 20%;
}
/* Rectangles with round corners ends */


/******************************************************************************
  Triangles begins
******************************************************************************/
div.arrow-up {
  height: 0px;
  width: 0px;
	border-left: 60px solid transparent;
	border-right: 60px solid transparent;
	border-bottom: 60px solid red;
}

div.arrow-down {
  height: 0px;
  width: 0px;
	border-left: 60px solid transparent;
	border-right: 60px solid transparent;
	border-top: 60px solid green;
}

div.arrow-left {
  height: 0px;
  width: 0px;
	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent;
	border-right: 60px solid blue;
}

div.arrow-right {
  height: 0px;
  width: 0px;
	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent;
	border-left: 60px solid yellow;
}
/* Triangles ends */
