.circle {
	border-radius: 50%;
	width: 200px;
	height: 200px;
  background-image: radial-gradient(ellipse farthest-corner at 145px 45px ,
    yellow 0%, orange 90%);

    animation-name: spin;
  	animation-duration: 8s; /* 3 seconds */
  	animation-iteration-count: infinite;
  	animation-timing-function: linear;
}

/* Create the animation blocks */
@keyframes spin {
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
