/*div.arrow-up {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;  /* left arrow slant */
	/*border-right: 25px solid transparent; /* right arrow slant */
	/*border-bottom: 25px solid #2f2f2f; /* bottom, add background color here */
  /*font-size: 0;
	line-height: 0;
}*/

div.arrow-up {
  width: 0px;
	border-left: 25px solid transparent;  /* left arrow slant */
	border-right: 25px solid transparent; /* right arrow slant */
	border-bottom: 25px solid red; /* bottom, add background color here */
}
